<div class="row justify-content-center">
  <div class="col-12">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
          <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="https://source.unsplash.com/500x400/?cocktail" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <% cocktail.doses.each do |dose| %>
                <p class="card-text"><%= dose.ingredient.name %> - <%= dose.description %></p>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


