.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-item .btn-ghost {
  color: #167FFB;
  opacity: 0.7;
  &:hover {
    color: #167FFB;
    opacity: 1;
  }
}
